@model Product
<div class="col-sm-12 col-md-4 my-2">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model?.ImageUrl" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">@Model.ProductName</h5>
        <p>@Model.Price.ToString("c")</p>
        <div class="btn-group">
        <form id="@Model.ProductId" asp-page="/cart" method="post">
          <input type="hidden" asp-for="@Model.ProductId" />
          <input type="hidden" name="returnUrl" value="@Url.Page("/Index")" />
          <button type="submit" class="btn btn-outline-primary">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </form>

        <a asp-action="GetProduct" asp-route-id="@Model.ProductId" class="btn btn-primary gap-3">
          Details
          <i class="fa-solid fa-arrow-right"></i>
        </a>
        </div>
    </div>
  </div>
</div>